<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>barcode_api_key</key>
	<string>eu1zef257h99mb21tspv7m0gp1twb0</string>
	<key>price_api_key</key>
	<string>NDPLRSFKOSOLPOIHVYESIKWLGCMKCKCDNQKTNSRAUBZTOUCZFSLWJZMAWFYPIYEH</string>
</dict>
</plist>
